{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy - Página Incial</title>
{% endblock %}

{% block content %}

  <section class="hero">
    <div class="hero__div">
      <h1 class="hero__title">As melhores receitas</h1>
      <p class="text hero__text">Aprenda a construir os melhores pratos <br> com receitas criadas por profissionais <br> do mundo inteiro.
      </p>
    </div>
    <div class="hero__div">
      <img class="hero__image" src="./assets/chef.png" alt="Chef conduzindo prato quente">
    </div>
  </section>

  <section class="highlights">
    <div class="recipes__grid">
      {% for recipe in recipes %}
        <div class="card">
          <img src="{{recipe.image}}" alt="{{recipe.title}}" class="card__image">
          <h3 class="card__title">{{recipe.title}}</h3>
          <p class="card__text">por {{recipe.author}}</p>
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
