{% extends 'recipes.njk' %}

{% block head %}
  <title>{{recipe.title}}</title>
{% endblock %}

{% block content %}

  <article>
    <img src="{{recipe.image}}" alt="{{recipe.title}}" class="recipe__hero">
    <section class="recipe__header">
      <h1 class="recipe__title">{{recipe.title}}</h1>
      <p class="recipe__author">por {{recipe.author}}</p>
    </section>
    <section class="recipe__section">
      <h2 class="recipe__subtitle">Ingredientes<span class="toggle">Esconder</span></h2>
      <ul class="toggled-content">
        {% for ingredient in recipe.ingredients %}
          <li class="recipe__list--item">{{ingredient}}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="recipe__section">
      <h2 class="recipe__subtitle">Modo de Preparo<span class="toggle">Esconder</span></h2>
      <ol class="toggled-content">
        {% for step in recipe.preparation %}
          <li class="recipe__list--item">{{step}}
        {% endfor %}
      </ol>
    </section>
    {% if recipe.information %}
      <section class="recipe__section">
        <h2 class="recipe__subtitle">Informações Adicionais<span class="toggle">Esconder</span></h2>
        <p  class="recipe__text toggled-content">{{recipe.information}}</p>
      </section>
    {% endif %}
  </article>

{% endblock %}
