/* ===== Reset ===== */

* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

/* ===== Base ===== */

.container {
  margin: 0 auto;
  max-width: 58.75rem;
  padding: 0 1rem;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  padding: 2.5rem 0 ;
}

.header__logo {
  width: 6rem
}

.menu {
  margin-left: 8rem;
}

.menu__item {
  display: inline-block;
  font-size: 1.125rem;
  margin-right: 1.25rem;
}

.menu__item:hover,
.menu__item-active {
  font-weight: bold;
}

.text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
}

.footer {
  background-color: #eee;
  color: #777;
  font-size: .875rem;
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;
}

/* ===== Home ===== */

.hero {
  align-items: center;
  background-color: #fbdfdb;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 3rem;
}

.hero__div {
  font-size: 1.125rem;
  width: 50%;
}

.hero__div:first-of-type {
  padding-left: 4rem;
}

.hero__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero__text {
  margin-bottom: 0;
}

.hero__div:last-of-type {
  text-align: right;
  padding: 5rem 6rem 0 0;
}

.highlights {
  margin-bottom: 3rem;
}

.highlights__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ===== Recipes ===== */

.recipes__grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  cursor: pointer;
}

.card__image {
  border-radius: .5rem;
  height: 8.75rem;
  margin-bottom: .75rem;
  object-fit: cover;
  width: 100%;
}

.card__title {
  font-size: 1.125rem;
  margin-bottom: .25rem;
}

.card__text {
  color: #777;
  font-size: .875rem;
}

/* ===== About ===== */
.about__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.about__subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* ===== Recipe ===== */
.recipe__hero {
  border-radius: .9375rem;
  display: block;
  width: 100%;
}

.recipe__header {
  padding: 3.125rem 0;
  text-align: center;
}

.recipe__title {
  color: #111;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: .25rem;
}

.recipe__author {
  color: #777;
  font-size: 1.5rem;
}

.recipe__section {
  margin-bottom: 2.4375rem;
}

.recipe__subtitle {
  color: #111;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
}

.recipe__list--item {
  color: #444;
  font-size: 1.13rem;
  line-height: 1.75rem;
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 0;
}

.recipe__text {
  color: #444;
  font-size: 1.13rem;
  line-height: 1.75rem;
}

.toggle-button {
  color: #777;
  cursor: pointer;
  font-size: .75rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.hidden {
  display: none;
}